body {
  font-family: Arial, sans-serif;
  background-color: #004d73;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Barra de navegación */
.navbar {
  background-color: #00344f;
  padding: 10px;
  text-align: center;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.navbar ul li a:hover {
  background-color: #005f80;
  border-radius: 5px;
}

/* Sección de contenido principal */
.contenido {
  text-align: center;
  padding: 20px;
  background-color: #005f80;
  margin: 20px;
  border-radius: 10px;
}

/* Estilo para listas */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #007299;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}

/* Botón de agregar tareas */
button {
  padding: 5px 10px;
  background-color: #006684;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005f80;
}

/* Estilo para el botón de música */
.musica {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.musica button {
  padding: 10px 20px;
  background-color: #00344f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.musica button:hover {
  background-color: #005f80;
}

/* Responsive para móviles */
@media (max-width: 768px) {
  .navbar ul {
      flex-direction: column;
  }
  .musica button {
      width: 90%;
      padding: 10px;
      font-size: 16px;
  }
}
